img {
  width: 100%;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
}

#slider ul li {
  padding: 0;
  margin: 0;
  position:relative;
  display: block;
  float: left;
  width: 700px;
  height: 535px;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
