@media (min-width: 600px) {
  .PhotoChoose {
    display: grid;
    justify-content: center;
    grid: auto / auto auto auto;
    flex-wrap: wrap;
  }
  .PhotoSet {
    padding: 15px;
  }
  .PhotoSet img {
    width: 280px;
    height: 380px;
    object-fit: cover;
  }
  .image {
    opacity: 1;
    transition: 0.5s ease;
  }
  .PhotoSet:hover .image {
    opacity: 0.5;
  }
}
@media (max-width: 600px) {
  .PhotoChoose {
    display: grid;
    justify-content: center;
    grid: auto / auto auto;
    flex-wrap: wrap;
  }
  .PhotoSet {
    padding: 10px;
  }
  .PhotoSet img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  .image {
    opacity: 1;
    transition: 0.5s ease;
  }
  .PhotoSet:hover .image {
    opacity: 0.5;
  }
}
